@import url("header/header.css");
@import url("body/left.css");
@import url("body/right.css");
@import url("footer/footer.css");

div.main {
		width:722px;
		min-height:500px;
		overflow:visible;
		float:left;
		margin:10;
		border:4px double gray;
		border-radius:20px;
}

/*content*/	
.ptitle {
		margin:50 auto 10 auto;
		font:bold 30px sans-serif;
		color:#FFA500;
		text-shadow:1px 1px 1px black;
		text-align:center;
}
.log {
		font: normal 14px verdana;
		color:black;
		background:white;
		border:1px solid black;
		border-radius:10px;
		margin:10 auto 100 auto;
		padding:50 0 20 20;
		text-align:justify;
		height:auto;
		width:250px;
}
/*content*/		
		